pip install django
pip install djangorestframework
pip install django-cors-headers
pip install coreapi

pip install --upgrade setuptools (estos los utilice por que me daba error con coreapi)
pip install --upgrade distribute 